@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Offset to account for your floating navbar height + padding */
section[id] {
  scroll-margin-top: 100px;
}

/* 
#0098d4 -- skyblue
#142c4c -- darkblue
*/

/* ===============================
   MONDA-SWAPNIL (Local OTF)
================================= */

@font-face {
  font-family: "Monda-swapnil";
  src: url("./assets/fonts/Monda.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .monda-swapnil {
    font-family: "Monda-swapnil", sans-serif;
  }
}

/* ===============================
   ROBOTO (Google Font)
================================= */

@theme {
  --font-roboto: "Roboto", sans-serif;
}

@layer base {
  p {
    font-family: "Roboto", sans-serif;
  }
}
/* ===============================
   Utilities
================================= */

/* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer utilities {
  .perspective-1200 {
    perspective: 1200px;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }
}